body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.clear{	
	float: none !important;
	clear: both !important;
	display: block !important;
	line-height: 0;
	padding: 0 !important;
}

.input-query-container{
	padding: 0 20px 0 20px;
}

.input-fields-container{
	float: left;
}

.input-query-submit{
	float: right;
}


.input-fields-container .fields{
	float: left;
	margin-left: 10px;
}

.input-fields-container [type='text']{
	height: 30px;
}

<!-- Account Tags -->


<!-- Transactions  -->

.list {
}

.list .view {
	border: solid 1px #EEE;
}


.list .view .type{
	text-align: right;
	padding-right: 10px;
	width: 80px;
}

.list .view .tags {
}

.list .view .tags span{
	margin-left: 5px;
}

.list.view .tags span:HOVER{
	background-color: #EEE;
}

.list .view .amount {
	margin-left: 10px;
	font-weight: bolder;
	color: #444;
	width: 100px; 
}

.list .view .sum {
	padding-left: 10px;
	color: #AAA;
	width: 100px;
}

.list .view .description {
	margin-left: 10px; 
}

.list .view .income .amount{
	background-color: #AFA;
}

.list .view .expense .amount{
	background-color: #F77;
}

.list .view .reset .amount{
	background-color: #AAA;
}

.list .view .transfer .amount{
	background-color: #66E;
}